
<body class="container">
  <div class="row">
    <div class="mx-auto" style="width: 300px;">
      <h2>User info</h2>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>errors prohibited this book from being saved</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= form_with model:@user, local:true do |f| %>
        <h4>Name</h4>
        <%= f.text_field :name %><br>

        <h4>Image</h4>
        <%= f.attachment_field :profile_image %><br>

        <h4>Introduction</h4>
        <%= f.text_area :introduction %><br>

        <%= f.submit "Uptade user" %>
      <% end %>
    </div>
  </div>
</body>

<footer class="container">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </footer>
</footer>

