<html lang="ja">
  <head>
    <mate charset="UTF-8" />
    <link rel="stylesheet" href="application.css" />
  </head>

  <heder>
   <h4>Bookers</h4>
   <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </heder>

  <body>
    <main class="format">
      <div>
        <h1>User info</h1>
        <h4>name</h4><%= @user.name %>
        <h4>introduction</h4><%= @user.introduction %><br>
        <%= link_to "Edit", edit_user_path(@user)%>

        <h1>New Book</h1>
        <%= form_with model: @user, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :opinion %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>

      <div>
        <h1>Books</h1>
        <table>

          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>

          <tr>
            <td><%= @user.title%></td>
          </tr>

          <tr>
            <td><%= @user.opinion%></td>
          </tr>
        </table>
      </div>

    </main>

  </body>
</html>
