<html lang="ja">
  <head>
    <mate charset="UTF-8" />
  </head>

  <body class="container">
    <div class="row">
      <div>
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
         <% end %>
      </div>

      <div class="col-sm-3">
        <%= render 'layouts/body' %>
      </div>

      <div class="col-sm-9">
        <h1>Users</h1>
        <table class="table">

          <tr>
            <th>
            <th>image</th>
            <th>name</th>
          </tr>

          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </body>

  <footer class="container">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </footer>
</html>
