<html lang="ja">
  <head>
    <mate charset="UTF-8" />
    <link rel="stylesheet" href="application.css" />
  </head>

  <heder>

  </heder>

  <body>
    <main class="format">
      <%= render 'layouts/body' %>
      <div>
        <h1>Books</h1>
        <table>

          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>

          <% @books.each do |book| %>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br></td>
              <td><a href="<%= book_path(book.id) %>"><%= book.title %></a></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>

        </table>
      </div>

    </main>

  </body>

  <footer>
   <%= render 'layouts/footer' %>
  </footer>
</html>
