<html lang="ja">

  <body>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
           <% if flash[:notice] %>
              <div class="flash">
                <%= flash[:notice] %>
              </div>
            <% end %>
          <%= render partial: 'layouts/body', locals: { user: @book.user, book: @new_book } %>
        </div>

        <div class="col-md-8 offset-md-1">
          <h1>Book detail</h1>
          <table class="table table-hover table-inverse">
              <tr>
                <td>
                  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br><br>
                  <a href="<%= user_path(@user.id) %>"><%= @user.name %></a>
                </td>
                <td><%= @book.title %></td>
                <td><%= @book.body %></td>
                <% if @user.id == current_user.id %>
                  <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success edit_book_12689" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-sm btn-danger destroy_book_12689", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                <% end %>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </body>

  <footer class="container">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </footer>

</html>
